@model CMS.WebApp.Models.Customer

@{
}

<div class="text-center">
    <h3 class="text-warning text-uppercase fs-2">Teacher Registration Form</h3>
    <p class="fs-5">Fill out the form carefully for registration</p>
</div>

<div>
    <form asp-action="CreateOrEdit" asp-controller="Customer" method="post">
        <div class="">
            <label asp-for="Name" class="form-label" placeholder= "Enter Your Name"></label>
            <input type="text" name="name" value=""/>
        </div>
    </form>
</div>